select,
.select2-selection__rendered
{
	background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' ?><svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='28' viewBox='0 0 18 28'><path style='fill: %230E14AD' d='M16.797 11.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359z'></path></svg>");
	background-size: rem-calc(18 28);
}

.select2-selection__rendered
{
	background-position: $global-right;
	background-repeat: no-repeat;
}

.select2-selection__arrow
{
	display: none;
}

option
{
	border: 1px solid;
}

.select2-container--default span.select2-selection--single
{
	border: 0;
	border-bottom: $input-border;
	border-radius: 0;
	background-color: transparent;
}

.select2-container .select2-selection--single span.select2-selection__rendered
{
	padding-left: 0;
	color: $input-color;
	font-size: $input-font-size;
	font-weight: $input-font-weight;
}

span.select2-dropdown
{
	&::before,
	&::after
	{
		@include horizontal-center;
	}
}

$_width: 10px;
$_color: get-color(gray-1);

.select2-dropdown--above
{
	transform: translateY(-10px);
	
	&::before
	{
		@include css-triangle($_width, $_color, down);
		
		bottom: -$_width;
	}
	
	&::after
	{
		@include css-triangle($_width - 1, $white, down);
		
		position: absolute;
		bottom: -$_width + 1;
	}
}

.select2-dropdown--below
{
	top: $_width;
	
	&::before
	{
		@include css-triangle($_width, $_color, up);
		
		top: -$_width;
	}
	
	&::after
	{
		@include css-triangle($_width - 1, $white, up);
		
		position: absolute;
		top: -$_width + 1;
	}
}

.select2-container--default .select2-results__option[aria-selected=true]
{
	background-color: $_color;
}

.select2-container--default li.select2-results__option--highlighted[aria-selected]
{
	background-color: $primary-color;
	//color: $black;
}

.select2-container--default li:first-child.select2-results__option--highlighted[aria-selected]
{
	border-radius: $global-radius $global-radius 0 0;
}

.select2-container--default li:last-child.select2-results__option--highlighted[aria-selected]
{
	border-radius: 0 0 $global-radius $global-radius;
}


//$input-padding: $form-spacing / 2;
//$_height: ($input-font-size * unitless-calc($global-lineheight)) + (get-side($input-padding, 'top') + get-side($input-padding, 'bottom')) - rem-calc(1);
$_height: 2.76923rem;

.select2-container .select2-selection--single
{
	height: $_height;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
{
	//height: $_height;
	line-height: $_height;
}
