.wt-account
{
	//font-size: rem-calc(13);
	
	//h1
	//{
	//	font-size: rem-calc(23);
	//	font-weight: $global-weight-bold;
	//}
	
	form
	{
		h1
		{
			font-size: rem-calc(15);
			text-align: center;
			margin-bottom: $paragraph-margin-bottom;
		}
	}
	
	input[type],
	select
	{
		padding-left: 0;
		
		&,
		&:focus
		{
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}
	}
	
	input[type]
	{
		padding-right: 0;
	}
	
	.wt-table
	{
		border-collapse: collapse;
		
		thead
		{
			border-bottom: 1px solid #969696;
		}
		
		//a
		//{
		//	text-decoration: underline;
		//}
	}
	
	.no-bullet
	{
		margin-bottom: 0;
		
		a
		{
			color: $black;
			//font-size: rem-calc(15);
			//font-weight: $global-weight-bold;
		}
		
		.is-active a,
		a:hover,
		a:focus
		{
			color: $secondary-color;
		}
		
		@include breakpoint(large)
		{
			li
			{
				margin-bottom: rem-calc(60);
			}
		}
		
		@include breakpoint(medium down)
		{
			li
			{
				display: inline-block;
				padding-right: 2rem;
			}
		}
		
		@include breakpoint(780px down)
		{
			li
			{
				width: 32%;
				padding-right: 0;
			}
		}
		
		@include breakpoint(640px down)
		{
			li
			{
				width: 49%;
			}
		}
		
		@include breakpoint(360px down)
		{
			li
			{
				display: block;
			}
		}
	}
}

.wt-membership
{
	margin-bottom: rem-calc(38);
	
	article .column
	{
		$_padding: $global-padding * 2;
		
		
	}
}

#reminder
{
	position: fixed;
	right: 0;
	bottom: 0;
	
	.button
	{
		white-space: nowrap;
	}
	
	//@include breakpoint(medium down)
	//{
		max-width: rem-calc(320);
	//}
	
	//@include breakpoint(large)
	//{
	//	width: rem-calc(900);
	//
	//	.button
	//	{
	//		margin-bottom: 0;
	//	}
	//}
}

//.page-vouchers
//{
//	tabs-panel
//}
