.wt-brand-logo
{
	max-width: rem-calc(200);
}


.page-brands main
{
	@include breakpoint(medium)
	{
		.column.text-center
		{
			$padding: rem-calc(83);
			
			padding-top: $padding;
			padding-bottom: $padding;
		}
		
		.wt-margin-bottom
		{
			margin-bottom: rem-calc(40);
		}
	}
}

.tabs
{
	border: 0;
}

//.accordion-title.wt-text-secondary,
.page-brands h1.wt-text-secondary,
.tabs-title .wt-text-secondary
{
	font-size: rem-calc(30);
	font-weight: $global-weight-bold;
	letter-spacing: 2.24px;
	background-color: $white !important;
}

.page-brands h1.wt-text-secondary
{
	margin: rem-calc(12 0 24);
}

.accordion-title,
.tabs-title > a
{
	font-weight: 800;
	letter-spacing: 2.14px;
}

.wt-text-secondary + .accordion-content
{
	min-height: 50vh;
}

.tabs-content
{
	width: 100%;
	//max-width: 100%;
	//height: 100%;
	
	&.vertical
	{
		border: 0;
	}
}

.tabs-panel
{
	width: 100%;
	
	&.wt-background-cover
	{
		height: 100%;
	}
	
	@include breakpoint(large)
	{
		$padding: rem-calc(122);
		
		padding-left: $padding;
		padding-right: $padding;
	}
}



.single-wt_brand
{
	main
	{
		> header
		{
			min-height: rem-calc(615);
			position: relative;
			
			.wp-post-image
			{
				@include absolute-center;
			}
		}
		
		.wt-event
		{
			max-width: none;
			background-color: $light-gray;
		}
	}
	
	#blocks
	{
		color: $white;
		
		h1
		{
			font-weight: $global-weight-normal;
		}
	}
	
	@include breakpoint(large)
	{
		.wt-content
		{
			max-width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
